@model IEnumerable<Sudo.Models.Event>

@{
    ViewData["Title"] = "Index";
    List<Sudo.Models.Event> OrderedEvents = new List<Sudo.Models.Event>();

}
@{
   OrderedEvents = Model.OrderBy(x => x.Time).ToList();
}


<div class="container">
    <a asp-action="Create">Create New</a>
    @{
        var groupedMonths = OrderedEvents.GroupBy(x => x.Time.Month);
    }
    @for (int i = 0; i < groupedMonths.Count(); i++)
    {
        <div class="card text-secondary">
            <img class="card-img" src="~/img/januaryFlag.jpg" alt="Card image">
            <div class="card-img-overlay">
                @{string monthTitle = new DateTime(2010, groupedMonths.ElementAt(i).Key, 1).ToString("MMMM");}
                <h2 class="card-title"><p class="text-center"> @monthTitle</p></h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in OrderedEvents.Where(x => x.Time.Month == groupedMonths.ElementAt(i).Key))
            {

                var imgSrc = "~/img/defaultFlag.jpg";

                if (item.Image != null)
                {
                    var base64 = Convert.ToBase64String(item.Image);
                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }

                //var base64 = Convert.ToBase64String(item.Image);
                //var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                DateTime date = item.Time;

                <div class="card mb-3">
                    <img class="card-img-top" src="@imgSrc" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><span class="subtitle">@item.Title: </span>@item.Time.DayOfWeek, @item.Time.ToString("MMMM") @item.Time.Day - @item.Speaker </h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text"><small class="text-muted">@item.Location - @item.Time</small></p>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            }
        </div>
    }
</div>

